.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(95, 86, 86);
}

.note
{
    font-size: 15px;
    color: black;
}

.copy_right_footer
{
    position: fixed;
    color: rgb(23, 116, 215);
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 56, 56);
    line-height: 4;
    text-align: center;
}

canvas
{
border: 5px solid rgb(255, 153, 153);
border-radius: 20px;
box-shadow: 5px 5px 5px grey;
}                                                        